# Flutter's Android host is reproducibly created by flutter create.
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
android/
ios/
linux/
macos/
windows/
web/
.idea/
*.iml
*.log
.metadata
pubspec.lock
